* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    margin: 0;
}

.container {
    /* background-color: #000; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100vh;
    padding: 20px;  /* Equal padding from all sides */
    box-sizing: border-box;  /* Ensure padding doesn't affect the size of the container */
}

ul li {
    list-style: none;
    display: inline;
    text-decoration: none;
    padding-right: 25px;
    text-transform: capitalize;
    font-weight: bold;
}

.nav {
    position: fixed;
    display: flex;
    /* === Reniside's Code --> Uncommented bgcolor === */
    /* background-color: #9FB09D; */
    flex-direction: row;
    width: 97vw;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    /* === Reniside's Code === */
    position: fixed;
    z-index: 99;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search {
    height: 6vh;
    border-radius: 6px;
    width: 45vw;
    font-size: 17px;
}

.btn {
    background-color: #f4863a;
    font-size: 14px;
    border: none;
    height: 5vh;
    width: 4vw;
    text-transform: capitalize;
    border-radius: 5px;
    transition: .5s all;
}

.btn:hover {
    height: 6vh;
    width: 5vw;
    font-size: 15px;
    letter-spacing: 1px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    word-spacing: -5px;
    cursor: pointer;
    transition: .3s all;
}

.link:hover {
    color: blue;
}

::placeholder {
    font-family: cursive;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
}

.fa-filter,
.fa-heart,
.fa-basket-shopping {
    font-size: 20px;
    cursor: pointer;
    transition: .4s all;
}

.fa-basket-shopping:hover {
    font-size: 22px;
    color: #f4863a;
}

.fa-heart:hover {
    font-size: 22px;
    color: #f4863a;
}

.fa-filter:hover {
    font-size: 22px;
    color: #f4863a;
}

.row {
    margin-top:1%;
    width: 100vw;
    height: 39vh;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    /* Reniside's code */
    display: grid;
    grid-template-columns: 33% 66%;
}

/* === Reniside's Code === */

.left-side{
    background-color: blue;
    border-radius: 5px;
    height: 96%;
    border-radius: 6px;
    cursor: pointer;
}

.right-side{
    border-radius: 6px;
    display: grid;
    cursor: pointer;
    margin-top: -1%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% 50%;
    flex-wrap: wrap;
    width: 100%;
}

.right-side-element{
    cursor: pointer;
    display: flex;
    border-radius: 6px;
    background-color: orange;
    gap: 19px;
    margin: 10px;
}

.right-side-element1{
    grid-column: 1/3;
}

.right-side-element4{
    grid-column: 2/4;
}

/* === Reniside's Code --> Swiper Section === */
/* I replaced "carousel-space" tag with swiper so all the properties where placed in swiper*/

.swiper {
    width: 100%;
    height: 41vh;
    padding: 20px;
    margin-top: 7%;
    border-radius: 6px;
    text-align: center;
    align-content: center;
}

.txt {
    color: #fff;
    font-family: raleway, sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
}

.txt0 {
    margin-top: 43%;
    margin-left: 1%;
}

.discount {
    margin-left: 1%;
}

.txt1 {
    margin-top: 16%;
    margin-left: 1%;
}

.txt2 {
    margin-top: 33%;
    margin-left: 2%;
}

.txt3 {
    margin-top: 33%;
    margin-left: 2%;
}

.txt4 {
    margin-top: 15%;
    height: 10%;
    margin-left: 1%;
    
}