* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    margin: 0;
}

.container {
    /* background-color: #000; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100vh;
    padding: 20px;  /* Equal padding from all sides */
    box-sizing: border-box;  /* Ensure padding doesn't affect the size of the container */
}

ul li {
    list-style: none;
    display: inline;
    text-decoration: none;
    padding-right: 25px;
    text-transform: capitalize;
    font-weight: bold;
}

.nav {
    position: fixed;
    display: flex;
    /* background-color: #9FB09D; */
    flex-direction: row;
    width: 97vw;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search {
    height: 6vh;
    border-radius: 6px;
    width: 45vw;
    font-size: 17px;
}

.btn {
    background-color: #f4863a;
    font-size: 14px;
    border: none;
    height: 5vh;
    width: 4vw;
    text-transform: capitalize;
    border-radius: 5px;
    transition: .5s all;
}

.btn:hover {
    height: 6vh;
    width: 5vw;
    font-size: 15px;
    letter-spacing: 1px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    word-spacing: -5px;
    cursor: pointer;
    transition: .3s all;
}

.link:hover {
    color: blue;
}

::placeholder {
    font-family: cursive;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
}

.fa-filter,
.fa-heart,
.fa-basket-shopping {
    font-size: 20px;
    cursor: pointer;
    transition: .4s all;
}

.fa-basket-shopping:hover {
    font-size: 22px;
    color: #f4863a;
}

.fa-heart:hover {
    font-size: 22px;
    color: #f4863a;
}

.fa-filter:hover {
    font-size: 22px;
    color: #f4863a;
}

.carousell-space {
    margin-top: 7%;
    width: 100%;
    height: 38vh;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    background-color: #f4863a;
}